@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@100&display=swap');
body {
    background-color: #37cdd8;
    margin: 0;
}
.nombre {
    background: black;
}
.nombre h4{
    margin: 50px;
    padding: 25px;
    font-size: 40px;
    color: white;
    text-align: center;
}
.calc {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form{
    width: 500px;
    height: 500px;
}
table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    width: 300px;
    height: 480px;
    border-collapse: collapse;
    background-color: #2d2d2ded;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.533);
    border-radius: 10px;
}
  
.entrada {
    position: relative;
    width: 100%;
    height: 65px;
    padding: 0px;
    text-align: center;
}

td {
    width: 60px;
    height: 65px;
    padding: 0px;
    text-align: center;
}

.line {
    width: 247px;
    margin: auto;
    margin-left: 1px;
    position: absolute;
    bottom: 0;
}

input[type="submit"] {
    width: 80%;
    height: 80%;
    padding: 8px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

input[value="("],
input[value=")"],
input[value="%"],
input[value="AC"],
input[value="÷"],
input[value="×"],
input[value="-"],
input[value="+"] {
    color: darkorange;
}

input[value="÷"],
input[value="×"],
input[value="-"],
input[value="+"],
input[value="="] {
    padding: 2px;
    font-size: 30px;
}
  
input[type="submit"]:hover {
    background-color: #bd1010;
}
  
input[type="submit"][value="="] {
    background-color: darkorange;
}

input[type="submit"][value="="]:hover {
    background-color: #ffa434;
}

input[type="text"] {
    width: 80%;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #6d6d6d;
    color: white;
    text-align: right;
    margin: 10px;
    margin-bottom: 20px;
}
input[value='Error:_División_por_cero'] {
    font-size: 18px;
}