@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    margin: 0;
    height: 200%;
}
.nombre{
    background-color: black;
}
.nombre h4{
    margin: 50px;
    padding: 25px;
    font-size: 40px;
    color: white;
    text-align: center;
}
.Calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}
form{
    width: 500px;
}
form label{
    display: flex;
    margin: 10%;
    width: 350px;
    padding: 0%;
    height: 20px;
}
.numero2{
    display: flex;
    text-align: center;
    margin: 9%;
    width: 70%;
    height: 20px;
}
.botones{
    display: flex;
    justify-content: center;
}
.calcular{
    height: 60px;
    width: 120px;
    border-radius: 3%;
    background: linear-gradient(320deg, #e06806, #ffef78, #da0b0b);
}
.calcular:hover{
    background: linear-gradient(320deg, #eb9d5e, #e0d685, #df6969);
}
