@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@100&display=swap');
body {
    background-color: #37cdd8;
    margin: 0;
}
.nombre {
    background: black;
}
.nombre h4{
    margin: 50px;
    padding: 25px;
    font-size: 40px;
    color: white;
    text-align: center;
}